<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Главная</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
</head>
<body>

<form method="get" action="upload">
    <button type="submit">Загрузить файлы</button>
</form>

<form method="get" action="statistics">
    <button type="submit">Статистика</button>
</form>

<form method="get" action="people">
    <button type="submit">Люди</button>
</form>

</body>
</html>